<div class="list-group">
	<a href="/#/todo" type="button" class="list-group-item">
		Todo Demo
	</a>
	<a href="/#/contact" type="button" class="list-group-item">
		Route Demo
	</a>
    <a href="/#/chat" type="button" class="list-group-item">
        Chat Demo
    </a>
	<a href="/#/basicEvent" type="button" class="list-group-item">
		Basic Event Demo
	</a>
	<a href="/#/switch" type="button" class="list-group-item">
		Switch Demo
	</a>
	<a href="/#/ngclass" type="button" class="list-group-item">
		Ng-class Demo
	</a>
	<a href="/#/watch" type="button" class="list-group-item">
		Watch Demo
	</a>
	<a href="/#/filter" type="button" class="list-group-item">
		Custom Filter Demo
	</a>
	<a href="/#/trans" type="button" class="list-group-item">
		Transfer data and event Demo
	</a>
</div>